@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --background: #f3f6f4;
}

@theme {
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);

  --color-background: var(--background);
  --color-white: #f3f6f4;
}

@layer base {
  body {
    @apply font-inter;
  }
}
